.sorna1{
    height: 150px;
    width: 300px;
    background-color: brown;
}

.sorna2{
    height: 150px;
    width: 300px;
    background-color: blue;
}

.sorna3{
    height: 150px;
    width: 300px;
    background-color: green;
}

.ferdous4{
    height: 150px;
    width: 300px;
    background-color: brown;
}

.ferdous5{
    height: 150px;
    width: 300px;
    background-color: red;
}

.ferdous6{
    height: 150px;
    width: 300px;
    background-color: yellow;
}

.swarna{
    height: 150px;
    width: 300px;
    background-color: palevioletred;
}

.swarna8{
    height: 150px;
    width: 300px;
    background-color: pink;
}

.box{
    height: 150px;
    width: 300px;
    background-color: purple;
}

.box10{
    height: 150px;
    width: 300px;
    background-color: powderblue;
}

.Maincontainer{
    height: 1800px;
    width: 800px;
    background-color: black;
}

